<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.servletinscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.servletconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.servletdeconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>supprimerutilisateur</servlet-name>
    <servlet-class>servlet.servletsupprimerutilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tableau</servlet-name>
    <servlet-class>servlet.servlettableau</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ajouter</servlet-name>
    <servlet-class>servlet.servletajouterdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>supprimer</servlet-name>
    <servlet-class>servlet.servletsupprimerdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>supprimerinscription</servlet-name>
    <servlet-class>servlet.servletsupprimerinscription</servlet-class>
  </servlet>
  <filter>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>filter.restrictionfilter</filter-class>
  </filter>
  <servlet>
    <servlet-name>accadmin</servlet-name>
    <servlet-class>servlet.servletaccadmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>acctech</servlet-name>
    <servlet-class>servlet.servletacctech</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ajoutertech</servlet-name>
    <servlet-class>servlet.servletajoutertech</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>demandeinscription</servlet-name>
    <servlet-class>servlet.servletdemandeinscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/restreint/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>accadmin</servlet-name>
    <url-pattern>/accadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>acctech</servlet-name>
    <url-pattern>/acctech</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>demandeinscription</servlet-name>
    <url-pattern>/demandeInscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>supprimerutilisateur</servlet-name>
    <url-pattern>/supprimerutilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tableau</servlet-name>
    <url-pattern>/gestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>supprimer</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>supprimerinscription</servlet-name>
    <url-pattern>/supprimerinscription</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ajoutertech</servlet-name>
    <url-pattern>/ajoutertech</url-pattern>
  </servlet-mapping>
</web-app>